
	<div class="sidebar-content">

		<a href="{{ .Site.BaseURL }}"><h1>#{{ .Site.Title }}</h1></a>
		<small><p>{{ .Site.Params.description }}</p></small>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext">
			<small><p>{{ .Site.Params.sidebarFreeText }}</p></small>
		</div>
		{{ end }}

		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
		</ul>

		<div class="sidebar-recent hidden-xs">
				{{ range first 5 .Site.Pages }}
				<a href="{{.Permalink}}">{{ .Title }}</a>
				{{ end }}	
		</div>

		<p class="copyright">{{ with .Site.Params.copyright }}{{.}}{{ else }}&#9835; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
        <p class="attr"></p>

	</div>
