
	<div class="sidebar-content">

		<div class="clogo"><a href="{{ .Site.BaseURL }}"><h1>#{{ .Site.Title }}</h1></a></div>
		<small><p>{{ .Site.Params.sidebarDescription }}</p></small>

		{{ if .Site.Params.sidebarFreeText }}
		<div class="sidebar-freetext">
			<small><p>{{ .Site.Params.sidebarFreeText }}</p></small>
		</div>
		{{ end }}
        <!-- <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-youtube" aria-hidden="true"></i> -->
        <i class="fa fa-instagram" aria-hidden="true"></i>



		<ul class="sidebar-menus">
			{{ range .Site.Menus.main }}
				<li>&#187; <a href="{{.URL}}">{{ .Name }}</a> {{ .Post }}</li>
			{{end}}
		</ul>

		<div class="sidebar-recent hidden-xs">
            <small>Recent Jams:</small>
            <ul>
				{{ range first 5 .Site.Pages }}
                <li><a href="{{.Permalink}}">{{ .Title }}</a></li>
				{{ end }}	
            </ul>    
		</div>

		<p class="copyright">{{ with .Site.Params.copyright }}{{.}}{{ else }}&#9835; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
        <p class="attr"></p>

	</div>
